@model IEnumerable<Flight>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Today Flights</h2>
        <ul class="row flights">
            @foreach (var flight in Model)
            {
                <li class="col-xs-12">
                    <div class="col-xs-10">
                        <span>@flight.Code:</span> @flight.DepartureCity.Name - @flight.DestinationCity.Name
                    </div>
                    <button class="btn btn-info btn-sm details-btn clo-xs-2"> @Html.ActionLink("See details", "Details", "Flight", new { code = flight.Code }, null)</button>
                </li>
            }
        </ul>
    </div>
</div>
